body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background-color: #ffffff;
  color: #111;
}

main {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

hr {
  width: 60%;
  margin: 35px auto;
  border: none;
  border-top: 1px solid #ddd;
}

nav,
ul {
  list-style: none;
  padding: 0;
  margin: 45px auto 20px auto;
  max-width: 520px;
  text-align: left;
  transform: translateX(-35px);
}

nav a,
ul li a,
.action-link {
  display: block;
  margin: 13px 0;
  font-size: 16px;
  text-decoration: none;
  color: #444;
}

a:hover {
  opacity: 0.6;
}

footer {
  position: fixed;
  right: 28px;
  bottom: 18px;
  font-size: 13px;
  color: #777;
}

/* Telefon */
@media (max-width: 600px) {
  main {
    margin: 70px auto;
    padding: 18px;
  }

  h1 {
    font-size: 34px;
  }

  p {
    font-size: 24px;
    line-height: 1.45;
  }

  nav,
  ul {
    max-width: 90%;
    transform: translateX(0);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  nav a,
  ul li a,
  .action-link {
    font-size: 22px;
  }

  footer {
    position: static;
    margin: 60px 18px 20px auto;
    text-align: right;
    font-size: 18px;
    color: #777;
  }
}
